<div class="lhs-panel col-3">
    <div class="row">
        <a href="{{ path("list_doc_data") }}" class="col clickable">
            View Data
        </a>
    </div>
    <div class="row">
        <a href="{{ path("upload_doc_data") }}" class="col clickable">
            Upload Data Set
        </a>
    </div>
    <div class="row">
        <a href="{{ path("edit_users") }}" class="col clickable">
            Users Management
        </a>
    </div>
    <div class="row">
        <a href="{{ path("logout") }}" class="col clickable">
            Logout
        </a>
    </div>
</div>
